@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Outfit:wght@400;700&display=swap');

:root {
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr {
    background-color: var(--white);
    width: 315px;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.qr-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 40px 15px;
}
.qr-body img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.qr-body h1 {
    text-align: center;
}
.qr-body p {
    font-size: 15px;
    margin: 0 10px;
    text-align: center;
    color: var(--grayish-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }